body{
background:linear-gradient(orange,white,green);
text-align:center;
font-family:Arial;
padding:60px;
}

h1{
color:navy;
}

p{
font-size:20px;
}

button{
padding:10px 20px;
margin:10px;
font-size:18px;
background:green;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:orange;
}
